/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 
 /* Theme variables for Ionic */
 @import './theme/variables.css';
 
 /* Core CSS required for Ionic components to work properly */
 @import '@ionic/react/css/core.css';
 
 /* Basic CSS for apps built with Ionic */
 @import '@ionic/react/css/normalize.css';
 @import '@ionic/react/css/structure.css';
 @import '@ionic/react/css/typography.css';
 

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 216 100% 54%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 216 100% 54%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    input, textarea, select {
        font-size: 16px;
        max-height: 100%; 
        overflow-y: auto; 
    }

    .marker {
        background-image: url('./marker.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .gradient-button {
        text-transform: none;
        font-weight: 700;
        --color: #fff;
        --background: #2182dd;
        --background-activated: #2998FF;
    }

    .welcome {
        --background: none;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    html {
        --ion-safe-area-top: 25px;
    }

    .ion-modal-safe-area {
        padding-top: var(--ion-safe-area-top);
      }
}